<ul class="coding_rmd">
    <li class="active" ng-mouseenter="over(0)">
        <div class="detailed">
            <div><i class="fa fa-shield"></i>实战课程</div>
            <h1>机器学习入门 Scikit-learn实现经典小案例</h1>
            <p>【课程全新升级】从理论到实践，带领机器学习小白踏入机器学习大门</p>
            <span>454人再学</span>
            <span class="price">¥ 199.00</span>
        </div>
        <div class="simple">
            <h1>机器学习入门 Scikit-learn实现经典小案例</h1>
            <span>454人再学</span>
            <span class="price">¥ 199.00</span>
        </div>
    </li>
    <li ng-mouseenter="over(1)">
        <div class="detailed">
            <div><i class="fa fa-shield"></i>实战课程</div>
            <h1>机器学习入门 Scikit-learn实现经典小案例</h1>
            <p>【课程全新升级】从理论到实践，带领机器学习小白踏入机器学习大门</p>
            <span>454人再学</span>
            <span class="price">¥ 199.00</span>
        </div>
        <div class="simple">
            <h1>机器学习入门 Scikit-learn实现经典小案例</h1>
            <span>454人再学</span>
            <span class="price">¥ 199.00</span>
        </div>
    </li>
    <li ng-mouseenter="over(2)">
        <div class="detailed">
            <div><i class="fa fa-shield"></i>实战课程</div>
            <h1>机器学习入门 Scikit-learn实现经典小案例</h1>
            <p>【课程全新升级】从理论到实践，带领机器学习小白踏入机器学习大门</p>
            <span>454人再学</span>
            <span class="price">¥ 199.00</span>
        </div>
        <div class="simple">
            <h1>机器学习入门 Scikit-learn实现经典小案例</h1>
            <span>454人再学</span>
            <span class="price">¥ 199.00</span>
        </div>
    </li>
    <li ng-mouseenter="over(3)">
        <div class="detailed">
            <div><i class="fa fa-shield"></i>实战课程</div>
            <h1>机器学习入门 Scikit-learn实现经典小案例</h1>
            <p>【课程全新升级】从理论到实践，带领机器学习小白踏入机器学习大门</p>
            <span>454人再学</span>
            <span class="price">¥ 199.00</span>
        </div>
        <div class="simple">
            <h1>机器学习入门 Scikit-learn实现经典小案例</h1>
            <span>454人再学</span>
            <span class="price">¥ 199.00</span>
        </div>
    </li>
</ul>