<div class="tips" ng-show="show">
    <div class="con">
        <h1>Tips</h1>
        <ul>
            <li>首先，这是一个使用angular1.x做的一个demo，仿的是<a href="http://www.imooc.com">慕课网</a></li>
            <li>其次，这个demo仅供学习交流使用，后面比较完善时会公开demo代码</li>
            <li>另外，目前可用的只有头部的“课程”和“搜索”，数据的信息图片之类的都是<a href="http://www.imooc.com">慕课网</a>上搜集的，搜索功能可用，“课程”中的课程分类已经完成，下面课程列表还在完善中，暂时无法根据分类显示不同列表
                <ul>
                    <li>课程json数据：<a href="/data/course.json">点这里</a></li>
                </ul>
            </li>
            <li>补充，demo用到一些CSS3属性，没有做兼容处理，所以浏览demo时还请尽量使用最新版本浏览器</li>
        </ul>
        <div>
            <span ng-click="display(1)">不再显示</span>
            <span ng-click="display(0)">确认</span>
        </div>
    </div>
</div>